* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

section {
    padding: 5rem 9%;
}

.btn {
    border: 2px solid blue;
    background: transparent;
    margin: 20px 0px 20px;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    color: blue;
    background-color: #fff;
    border: 2px solid black;
    font-weight: lighter;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.navbar {
    display: inline-flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar .logo {
    margin: 12px;
}

.navbar .logo a {
    color: black;
    font-size: 38px;
    font-weight: 600;
    font-family: 'poppin';
    text-decoration: none;
}

.navbar .logo a span {
    color: blue;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar nav {
    margin: 7px;
}

.navbar nav ul li {
    display: inline-block;
    padding: 22px;
    list-style: none;
}

.navbar nav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: blue;
    position: relative;
    /* transition: all 0.3s ease; */
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.navbar nav ul li a:hover {
    color: black;
    font-weight: lighter;
}

.navbar .btn {
    margin: 25px;
    font-size: 20px;
    border: 2px solid blue;
    background: transparent;
    padding: 5px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    color: blue;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .btn:hover {
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    font-weight: lighter;
}


/*----header part-*/

.header .content-box {
    display: flex;
    margin-top: 7em;
    align-items: center;
    justify-content: space-between;
}

.header .content-box img {
    height: 550px;
    border-radius: 50%;
    margin-right: 10rem;
    margin-top: 11.5rem;
}

.header .content-box .content {
    margin-top: 11.5rem;
    align-items: center;
    margin-left: 9rem;
    display: block;
    align-items: center;
}

.header .content-box .content h4 {
    letter-spacing: 3px;
    font-size: 39px;
    padding: 12px;
}

.content h1 {
    color: blue;
    margin: 20px 0px 20px;
    font-size: 75px;
}

.header .content-box .content h3 {
    color: black;
    font-size: 29px;
    margin-bottom: 50px;
}

.text-box a span {
    font-size: 30px;
    line-height: 15px;
    margin-left: 10px;
}